
h1{
  color: black;
  text-align: center;
  font-family: fantasy;
}

h2{
  color: black;
  text-align:center;

}

a{
  color: black;
  font-family: fantasy;
}

body{
  background-color: dodgerblue;
}

a:hover{
  color: tomato;
}
