
h1{
  color: black;
  text-align: center;
  font-family: fantasy;
}

h2{
  color: black;
  text-align: center;
  font-family: fantasy;
}

a{
  color: tomato;
  text-align: center;
  font-family: fantasy;
}
