/******************

default stylel rule set for css

selector {
  property: value;
}

******************/

body {
  background-color:red;
  margin-top:200px;
}
h1 {
  color:black;
  font-size: 100px;
  text-align: center;
  font-family:fantasy;
}
p{
  color: white;
  text-align:center;
  font-family:fantasy;
}
h2 {
  font-size: 25px;
  font-family:fantasy;
  text-align:center;
}
h3 {
  font-size: 20px;
  font-family:fantasy;
}
